### 파이썬 DB 연동
 > CRUD 작업 처리
 > CREATE / READ / UPDATE / DELETE
 > INSERT / SELECT / UPDATE / DELETE

## 파이썬에서 Mysql 연동 패키지 지원
 > pymysql 패키지 사용

In [2]:
!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 640.0 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [3]:
# import해서 오류없으면 잘 설치된거
import pymysql

### dB 연동 순서
    - 1. DB연결
    - 2. cursor객체 생성
    - 3. sql 구문 실행
    - 4. 실행 결과 추출 (출력)

In [8]:
# 1. DB연결
# 호스트명, 포트번호, 로그인 계정, 비밀번호(pass, CHARSET 파라미터로 지정
conn = pymysql.connect(host='localhost', port=3306,user='testuser', password='1234', charset='utf8')

In [10]:
# 2. 연결 객체 생성
# cursor 객체를 통해서 메소드 호출
cursor = conn.cursor()

In [35]:
# 3. sql문 실행
# 데이터베이스 확인 sql문 실행
sql = 'show databases'

In [41]:
# 실행결과 : 데이터베이스 개수
# 실제로 쿼리 실행하는 부분이다
# 쿼리결과 가져옴 cursor에 저장되어있음
cursor.execute(sql)

10

In [42]:
# res에 결과 저장해서 확인할 수 있게 해줌
res = cursor.fetchall()

In [43]:
res

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('shopdb',),
 ('sqldb1',),
 ('sqldb2',),
 ('sqldb3',),
 ('sys',),
 ('world',))

In [45]:
sql = 'create database beauty_shop'
cursor.execute(sql)

1

In [46]:
res = cursor.fetchall()

In [47]:
cursor.execute('drop database beauty_shop')

0

In [48]:
sql = 'use sqldb3'
cursor.execute(sql)

0

In [51]:
sql = '''
    create table shop(
        proNo int auto_increment not null primary key,
        prdName varchar(100),
        prdPrice float,
        prdisPirce float )
'''
cursor.execute(sql)

0

In [55]:
sql = 'show tables'
cursor.execute(sql)
res = cursor.fetchall()
res

(('book',),
 ('booksale',),
 ('client',),
 ('client_view',),
 ('flower',),
 ('movie',),
 ('new_book',),
 ('new_book2',),
 ('product',),
 ('publisher',),
 ('top5_sales_client',))

In [54]:
sql = 'drop table shop'
cursor.execute(sql)

0

In [58]:
sql = 'select * from book'
cursor.execute(sql)
res = cursor.fetchall()
for i in res:
    print(i)

('1001', '데이터베이스 이론', '홍길동', 22000, datetime.date(2019, 11, 11), 5, '3')
('1002', '자바 프로그래밍', '이몽룡', 25000, datetime.date(2021, 12, 12), 4, '1')
('1003', '인터넷프로그래밍', '성춘향', 30000, datetime.date(2019, 2, 10), 10, '2')
('1004', '안드로이드 프로그래밍', '변학도', 23000, datetime.date(2017, 10, 10), 2, '1')
('1005', '안드로이드 앱', '강길동', 26000, datetime.date(2020, 1, 11), 5, '2')
('1006', 'MS SQL SERVER 2014', '박지성', 35000, datetime.date(2020, 3, 25), 7, '3')
('1007', 'HTML & CSS', '손흥민', 18000, datetime.date(2023, 9, 30), 3, '1')
('1008', 'MFC 입문', '류현진', 20000, datetime.date(2015, 12, 12), 5, '1')
('1009', '안드로이드 게임 제작', '나길동', 33000, datetime.date(2018, 10, 31), 5, '2')
('1010', 'C++객체지향 프로그래밍', '추신수', 24000, datetime.date(2019, 4, 20), 2, '3')
('1011', 'JSP 웹 프로그래밍', '김연아', 27000, datetime.date(2020, 10, 23), 8, '1')
('1012', '해커들의 해킹 기법', '손연재', 32000, datetime.date(2018, 7, 7), 1, '2')
('1013', '자료구조', '홍길동', 19000, datetime.date(2020, 1, 20), 4, '1')
('1014', '파이썬', '성춘향', 35000, datetime.date(2023, 9, 25), 5, '2')
('1015', '자바스크립 & jQuery', '홍길동', 27000, datetime.date(2019, 10, 22), 2, '2')

In [ ]:
# CRUD

In [64]:
for i in res:
    print('도서번호', type(i))

도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>
도서번호 <class 'tuple'>

In [66]:
sql = 'select bookNo, bookName, bookPrice from book where bookPrice >= 30000'
cursor.execute(sql)
res = cursor.fetchall()
for i in res:
    print(i[0], i[1], i[2])

1003 인터넷프로그래밍 30000
1006 MS SQL SERVER 2014 35000
1009 안드로이드 게임 제작 33000
1012 해커들의 해킹 기법 32000
1014 파이썬 35000

In [67]:
# 컬럼명 가져오기
sql = 'describe book'
cursor.execute(sql)
res = cursor.fetchall()
for i in res:
    print(i[0], i[1], i[2])

bookNo varchar(10) NO
bookName varchar(30) NO
bookAuthor varchar(20) NO
bookPrice int YES
bookDate date YES
bookStock int YES
pubNo varchar(10) NO

In [ ]:
cursor.close()
conn.close()